.SearchBar {
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.19);
  padding: 2px;
  background-color: #1010105b;
  display: flex;
}

.SearchBar input {
  border: none;
  padding: 10px;
  outline: none;
  color: rgba(255, 255, 255, 0.4);
  background: none;
}

.SearchBar button {
  background-color: #ffd700;
  color: white;
  margin: 1px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  transition: box-shadow 0.2s ease-in-out;
}

.SearchBar button:hover {
  box-shadow: 0px 0px 10px 0px #ffd700;
}

.searchIcon {
  color: #333;
  padding: 7px 20px;
}
