.productMain{
  margin: 50px;
}
.productCard {
  background-color: #1010105b;
  border: 2px solid rgba(255, 255, 255, 0.19);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  gap: 25px;
}

.productCard p {
  margin-top: 0px;
  margin-bottom: 1rem;
}

.productTitle {
  color: white;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-family: "Satoshi-Bold";
}

.productImage {
  height: 100%;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.19);
  max-height: 600px;
}

.price {
  color: #ffd700;
  background: none;
  text-shadow: 0px 0px 10px #ffd700;
}

.btn {
  text-align: center;
  background-color: #ffd700;
  color: #333;
  font-family: "Satoshi-Bold";
  margin: 1px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  transition: box-shadow 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0px 0px 10px 0px #ffd700;
}

.btnContent {
  color: #333;
  padding: 10px 20px;
}
